* text=auto eol=lf

*.cs diff=csharp text
*.cginc text
*.shader text

*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicMaterial merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary
*.tga binary
*.tif binary
*.exr binary
*.hdr binary
*.wav binary
*.mp3 binary
*.ogg binary
*.fbx binary
*.mb binary
*.ma binary
*.blend binary
*.dll binary
*.exe binary
*.pdf binary
